ReleveNotes-Spring-WS/ReleveNotes-WS/src/main/webapp/WEB-INF/wsdl/final.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://iaws/ws/contractfirst/exemple" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://iaws/ws/contractfirst/exemple" targetNamespace="http://iaws/ws/contractfirst/exemple">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iaws/ws/contractfirst/exemple">

    <xs:element xmlns:exem="http://iaws/ws/contractfirst/exemple" name="ReleveNotes" type="exem:ReleveNotesType"/>

    <xs:complexType name="matiereType">
    <xs:all>
      <xs:element name="code">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="IAWS"/>
            <xs:enumeration value="JEE"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="libelle">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Interopérabilité des Applications et Web Services"/>
            <xs:enumeration value="Java Entreprise Edition"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
    <xs:attribute name="id" type="xs:short" use="optional"/>
  </xs:complexType>

    <xs:complexType name="etudiantType">
    <xs:all>
      <xs:element name="nom">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Dupont"/>
            <xs:enumeration value="Durand"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="prenom">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Pauline"/>
            <xs:enumeration value="Jules"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
    <xs:attribute name="id" type="xs:int" use="optional"/>
  </xs:complexType>

    <xs:complexType name="evaluationType">
    <xs:all>
      <xs:element name="titre" type="xs:string"/>
      <xs:element name="date" type="xs:date"/>
      <xs:element name="note" type="xs:float"/>
      <xs:element name="note_max" type="xs:float"/>
      <xs:element name="coefficient" type="xs:float"/>
    </xs:all>
    <xs:attribute name="id" type="xs:int" use="required"/>
    <xs:attribute name="id_etudiant" type="xs:int" use="required"/>
    <xs:attribute name="id_matiere" type="xs:int" use="required"/>
  </xs:complexType>

    <xs:complexType name="ReleveNotesType">
    <xs:sequence>
      <xs:element xmlns:exem="http://iaws/ws/contractfirst/exemple" maxOccurs="unbounded" minOccurs="1" name="etudiant" type="exem:etudiantType"/>
      <xs:element xmlns:exem="http://iaws/ws/contractfirst/exemple" maxOccurs="unbounded" minOccurs="1" name="matiere" type="exem:matiereType"/>
      <xs:element xmlns:exem="http://iaws/ws/contractfirst/exemple" maxOccurs="unbounded" minOccurs="1" name="evaluation" type="exem:evaluationType"/>
    </xs:sequence>
    <xs:attribute name="annee_scolaire" type="xs:string"/>
    <xs:attribute name="niveau" type="xs:string"/>
    <xs:attribute name="semestre" type="xs:short"/>
  </xs:complexType>

    <xs:element xmlns:exem="http://iaws/ws/contractfirst/exemple" name="ReleveNotesRequest" type="exem:ReleveNotesRequestType"/>

    <xs:complexType name="ReleveNotesRequestType">
        <xs:all>
            <xs:element name="annee_scolaire" type="xs:string"/>
            <xs:element name="niveau" type="xs:string"/>
            <xs:element name="semestre" type="xs:short"/>
        </xs:all>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ReleveNotesRequest">
    <wsdl:part element="tns:ReleveNotesRequest" name="ReleveNotesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ReleveNotes">
    <wsdl:operation name="ReleveNotes">
      <wsdl:input message="tns:ReleveNotesRequest" name="ReleveNotesRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReleveNotesSoap11" type="tns:ReleveNotes">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ReleveNotes">
      <soap:operation soapAction=""/>
      <wsdl:input name="ReleveNotesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReleveNotesService">
    <wsdl:port binding="tns:ReleveNotesSoap11" name="ReleveNotesSoap11">
      <soap:address location="http://localhost:8080/ReleveNotes-WS/ws/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>